@import "../../_globalColor";

.main {
    width: 70%;
    margin: 0px auto;
}

.app-name {
    font-size: 45px;
    text-align: center;
}
.page-title {
    font-size: 60px;
    text-align: center;
}
.body {
    width: 80%;
    margin: 20px auto;
    padding-top: 50px;
}
